
 <div class="row">
    <div class="col-md-4">
        <div class="card card-body card-widget">
            <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-headset"></div>
            <div class="block ml-3 mr-3">
                <h5 class="mb-0 fw-400"> {{this.activos}}</h5>
                <small class="text-muted text-uppercase "><strong _ngcontent-c88="">Activos</strong></small>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body card-widget">
            <div class="widget-icon rounded-circle bg-yellow text-white icon icon-basic-headset"></div>
            <div class="block ml-3 mr-3">
                <h5 class="mb-0 fw-400"> {{this.enProgreso}} </h5>
                <small class="text-muted text-uppercase "><strong _ngcontent-c88="">Asignados</strong></small>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body card-widget">
            <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-headset"></div>
            <div class="block ml-3 mr-3">
                <h5 class="mb-0 fw-400"> {{terminados}} </h5>
                <small class="text-muted text-uppercase "><strong _ngcontent-c88="">Terminados</strong></small>
            </div>
        </div>
    </div>
</div>
<div class="card">
  
    <div class="card-body hideOnSm">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th># Ticket</th>
              <th>Planta </th>
              <th>Usuario</th>
              <th>Fecha Alta</th>
              <th >Estado</th>
              <th>Tipo </th>
              <th>Fecha Termino </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of tickets" (click)="actionDbl(ticket.estadoTicket,ticket.ticketId)">
              <td>{{ ticket.ticketId }}</td>
              <td>{{ ticket.planta}}</td>
              <td>{{ ticket.nombreReporta }}</td>
              <td>{{ ticket.fechaAlta | date: 'dd/MM/yyyy'}}</td>
              <td>{{ ticket.estadoTicket == 1 ? 'Abierto' : (ticket.estadoTicket == 2 ? 'Asignado' : (ticket.estadoTicket == 3 ? 'Cerrado' : 'Abierto')) }}</td>
              <td>{{ obtenerTipoReporte(ticket.tipoReporte)  }}</td>
              <td>{{ ticket.estadoTicket == 3 ?  (ticket.fechaTermino | date: 'dd/MM/yyyy' ): ''}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="card-body showOnSm">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th># Ticket</th>
              <th>Usuario</th>
              <th>Fecha</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of tickets" (click)="actionDbl(ticket.estadoTicket,ticket.ticketId)">
              <td>{{ ticket.ticketId }}</td>
              <td>{{ ticket.nombreReporta.slice(0,7)+'...' }}</td>
              <td>{{ ticket.fechaAlta | date: 'dd/MM'}}</td>
              <td>{{ ticket.estadoTicket == 1 ? 'Abierto' : (ticket.estadoTicket == 2 ? 'Asignado' : (ticket.estadoTicket == 3 ? 'Cerrado' : 'Abierto')) }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Assignar Responsable</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  >
        <div class="form-group">
          <label for="dateOfBirth"> Nombre :</label>
          <div class="input-group">
            <input aria-describedby="nombreResponsable"  [(ngModel)]="responsable.nombre"
                    class="form-control" id="nombreResponsable" autofocus required  name="nombreResponsable"
                     placeholder="Ingrese nombre" type="text">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
  </ng-template>


  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Eliminar Ticket</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  >
        <div class="form-group">
          <div class="input-group">
            <h5> Esta seguro de querer eliminar el ticket seleccionado ?</h5>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancelar')">Cancelar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Eliminar')">Eliminar</button>
    </div>
  </ng-template>
