
 <div class="row">
    <div class="col-md-4">
        <div class="card card-body card-widget">
            <div class="widget-icon rounded-circle bg-blue text-white icon icon-basic-headset"></div>
            <div class="block ml-3 mr-3">
                <h5 class="mb-0 fw-400"> {{this.activos}}</h5>
                <small class="text-muted text-uppercase "><strong _ngcontent-c88="">Activos</strong></small>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body card-widget">
            <div class="widget-icon rounded-circle bg-yellow text-white icon icon-basic-headset"></div>
            <div class="block ml-3 mr-3">
                <h5 class="mb-0 fw-400"> {{this.enProgreso}} </h5>
                <small class="text-muted text-uppercase "><strong _ngcontent-c88="">Asignados</strong></small>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body card-widget">
            <div class="widget-icon rounded-circle bg-green text-white icon icon-basic-headset"></div>
            <div class="block ml-3 mr-3">
                <h5 class="mb-0 fw-400"> {{terminados}} </h5>
                <small class="text-muted text-uppercase "><strong _ngcontent-c88="">Terminados</strong></small>
            </div>
        </div>
    </div>
</div>
<div class="card">

    <div class="card-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th># Ticket</th>
                <th>Planta </th>
                <th>Usuario</th>
                <th>Fecha Alta</th>
                <th>Estado</th>
                <th>Tipo </th>
                <th>Asignado </th>
                <th>Fecha Asignación - -  </th>
                <th>Fecha Termino </th>
                <th >Acciones </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of tickets">
                <td>{{ ticket.ticketId }}</td>
                <td>{{ ticket.planta}}</td>
                <td>{{ ticket.nombreReporta }}</td>
                <td>{{ ticket.fechaAlta | date: 'dd/MM/yyyy'}}</td>
                <td>{{ ticket.estadoTicket == 1 ? 'Abierto' : (ticket.estadoTicket == 2 ? 'Asignado' : (ticket.estadoTicket == 3 ? 'Cerrado' : 'Abierto')) }}</td>
                <td>{{ obtenerTipoReporte(ticket.tipoReporte)  }}</td>
                <td>{{ ticket.asignadoA }}</td>
                <td>{{ ticket.estadoTicket == 1 ? '' : ticket.fechaAsignado | date: 'dd/MM/yyyy' }}</td>
                <td>{{ ticket.estadoTicket == 3 ?  (ticket.fechaTermino | date: 'dd/MM/yyyy' ): ''}}</td>
                <td >
                  <span class="badge badge-danger mr-1"
                    style="cursor: pointer;"
                    (click)="openEliminar(contentDelete, ticket.ticketId )"
                    *ngIf="ticket.estadoTicket == 1 ">
                    Eliminar
                  </span>
                  <span class="badge badge-success mr-1"
                    style="cursor: pointer;"
                    (click)="editarTicket(  ticket.ticketId )"
                    *ngIf="ticket.estadoTicket == 1 ">
                    Editar
                  </span>
                  <span class="badge badge-info"
                    style="cursor: pointer;"
                    (click)="redireccionarATicket(ticket.ticketId )"
                    *ngIf="ticket.estadoTicket == 2 || ticket.estadoTicket == 3 ">
                    Info
                  </span>
                  <span class="badge badge-secondary"
                    style="cursor: pointer;"
                    (click)="open(content, ticket.ticketId )"
                    *ngIf="ticket.estadoTicket == 1 && this.isHelpDesk ">
                    Asignar
                  </span>
                </td>
              </tr>
            </tbody>
            </table>
    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Assignar Responsable</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  >
        <div class="form-group">
          <label for="dateOfBirth"> Nombre :</label>
          <div class="input-group">
            <input aria-describedby="nombreResponsable"  [(ngModel)]="responsable.nombre"
                    class="form-control" id="nombreResponsable" autofocus required  name="nombreResponsable"
                     placeholder="Ingrese nombre" type="text">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
    </div>
  </ng-template>


  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Eliminar Ticket</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  >
        <div class="form-group">
          <div class="input-group">
            <h5> Esta seguro de querer eliminar el ticket seleccionado ?</h5>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancelar')">Cancelar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Eliminar')">Eliminar</button>
    </div>
  </ng-template>
